[submodule "tmk_core/protocol/usb_hid/USB_Host_Shield_2.0-tmk"]
	path = tmk_core/protocol/usb_hid/USB_Host_Shield_2.0-tmk
	url = https://github.com/tmk/USB_Host_Shield_2.0.git
[submodule "tmk_core/protocol/lufa/lufa-abcminiuser"]
	path = tmk_core/protocol/lufa/lufa-abcminiuser
	url = https://github.com/abcminiuser/lufa.git
